/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  font-family: 'Roboto', sans-serif;
}

strong {
  color:#6F4FC4;
}

.thumbnail{
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.09);
}

/*featured*/
h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
    color:#999999;
}
.thumb-featured {
   color:#6F4FC4;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;

    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: relative;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}
.profile_budget{
    padding-top:15px;
    color:#757575;
}

.meta h5 {
    text-decoration: none;

    font-weight:normal;
}
.card-footer .icon{
    padding:10px 10px;
}
.card-footer .icon a{
    color:#ef6645;
}


/**/
.panel-default > .panel-heading .badge {
    color: black;
    background-color: white;
}

.btn-primary {
    color: #6F4FC4;
    background-color: white;
    border-color: #6F4FC4;
    border-width: 3px;
}

h1,h2,h3 {
  font-family: 'Aldrich', sans-serif;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);
}

.jumbotron {
    background-image: url("https://unsplash.it/1000/600?image=1067/?blur");
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.panel-default > .panel-heading {
    color: white;
    background-color: #06d8b9;

}

.panel-default {
    /*border-color: #6F4FC4;*/
    border-left: solid;
    border-left-width: 5px;
}

 .navbar-default .navbar-brand {
     color: black!important;
     font-size: 20px;
     margin-top: 1em!important;
     font-family: 'Aldrich', sans-serif;
 }



.myLogo {
  width: 6%;
  margin-top: 0.2em;
  margin-bottom:0.2em;
}

@media only screen and (max-width: 995px) {
  .myLogo{
    display:none;
  }
}

@media only screen and (max-width: 768px) {
  .myLogo{
    display: none;
  }
}

 nav.navbar.navbar-default.navbar-fixed-top {
   background-color: white;
   border-bottom: solid;
   border-color: #06d8b9;
   border-bottom-width: 0.3em;
   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.09);
 }

a.nav-button:hover,
a.nav-button {
  float: right ;
  border-style: solid;
  border-radius: 2em;
  background: linear-gradient(25deg, #06d8b9, #0087cc);
  color:white !important;
  margin-top:0.7em;
  margin-bottom:0.7em;
}

div.body{
  margin-top:6em;
}

label.copy-this{
  background-color: #f2f080;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
