/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  font-family: 'Roboto', sans-serif;
}

strong {
  color:#6F4FC4;
}

h1,h2,h3 {
  font-family: 'Aldrich', sans-serif;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);
}

.jumbotron {
    background-image: url("https://unsplash.it/1000/600?image=1067/?blur");
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.panel-default > .panel-heading {
    color: white;
    background-color: #06d8b9;

}

.panel-default {
    /*border-color: #6F4FC4;*/
    border-left: solid;
    border-left-width: 3px;
}

 .navbar-default .navbar-brand {
     color: black!important;
     font-size: 20px;
     margin-top: 1em!important;
     font-family: 'Aldrich', sans-serif;
 }



.myLogo {
  width: 6%;
  margin-top: 0.2em;
  margin-bottom:0.2em;
}

@media only screen and (max-width: 995px) {
  .myLogo{
    display:none;
  }
}

@media only screen and (max-width: 768px) {
  .myLogo{
    display: none;
  }
}

 nav.navbar.navbar-default.navbar-fixed-top {
   background-color: white;
   border-bottom: solid;
   border-color: #06d8b9;
   border-bottom-width: 0.3em;
   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.09);
 }

a.nav-button:hover,
a.nav-button {
  float: right ;
  border-style: solid;
  border-radius: 2em;
  background: linear-gradient(25deg, #06d8b9, #0087cc);
  color:white !important;
  margin-top:0.7em;
  margin-bottom:0.7em;
}

div.body{
  margin-top:6em;
}

label.copy-this{
  background-color: #f2f080;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
